<h4>Todays Infos</h4>
<main class="appInfo-main">
    <div class="appInfo-container">
        <div class="appInfo-content">
            <img src="./assets/images/weather.png">
            <div>
                <p>Chance to Rain</p>
                <p>{{ info.daily_chance_of_rain }}&#37;</p>
            </div>
        </div>
        <div class="appInfo-content">
            <img src="./assets/images/hurricane.png">
            <div>
                <p>Wind</p>
                <p>{{ info.wind_kph }}</p>
            </div>
        </div>
    </div>
    <div class="appInfo-container">
        <div class="appInfo-content">
            <img src="./assets/images/sun.png">
            <div>
                <p>UV Index</p>
                <p>{{ info.uvIndex }}</p>
            </div>
        </div>
        <div class="appInfo-content">
            <img src="./assets/images/windy.png">
            <div>
                <p>Wind Direction</p>
                <p>{{ info.wind_dir }}</p>
            </div>
        </div>
    </div>
</main>