<h1>Forecast</h1>
<main>
    <div *ngFor="let day of data" class="forecastDay">
        <img src="https:{{ day.day.condition.icon }}" alt="#" [height]="24" [width]="24">
        <span>{{ day.day.maxtemp_c }}&#176;&#160;/<p>&#160;{{ day.day.mintemp_c }}</p></span>
        <p>{{ day.date }}</p>
        <p>{{ getWeekday(day.date) }}</p>
    </div>

    <div class="tomorrow">
        <img src="https:{{ data[1].day.condition.icon }}" alt="#">
        <div>
            <p>Tomorrow</p>
            <p>{{ data[1].day.maxtemp_c }}</p>
            <p>{{ data[1].day.condition.text }}</p>
        </div>
        <p>Hour graph D:</p>
    </div>
</main>

