img {
  position: absolute;
  top: -35px;
  left: 28px;
  width: 100px;
  height: 100px;
}

.appOverview-dateAndText {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;

  p:nth-child(1) {
    font-size: 18px;
    margin-bottom: 8px;
  }
  p:nth-child(2) {
    font-size: 14px;
  }
  p:nth-child(3) {
    font-size: 16px;
  }
}

.appOverview-temperature {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 12px;

  p:nth-child(1) {
    font-size: 48px;
  }
}
