<h4>Todays Infos</h4>
<div class="appInfo-main">
    <div class="appInfo-container">
        <div class="appInfo-content">
            <img src="assets/images/regen.png">
            <div>
                <p>Chance to Rain</p>
                <p>#%</p>
            </div>
        </div>
        <div class="appInfo-content">
            <img src="assets/images/windig.png">
            <div>
                <p>Wind</p>
                <p>{{ info.wind_kph }}</p>
            </div>
        </div>
    </div>
    <div class="appInfo-container">
        <div class="appInfo-content">
            <img src="assets/images/sonne.png">
            <div>
                <p>UV Index</p>
                <p>{{ info.uvIndex }}</p>
            </div>
        </div>
        <div class="appInfo-content">
            <img src="assets/images/windig.png">
            <div>
                <p>Wind Direction</p>
                <p>{{ info.wind_dir }}</p>
            </div>
        </div>
    </div>
</div>