$menuBorderRadius: 20px;
$componentsBackgroundImageColor: linear-gradient(
  to right bottom,
  #d863e6,
  #be63ea,
  #a163ee,
  #7e64f0,
  #5164f0
);
$componentBorderRadius: 24px;

content {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  padding: 10px 30px;

  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;

  .content-padding {
    padding: 5px;
  }

  app-overview {
    width: 100%;
    height: 25%;
    padding: 3px 9px;

    background-image: $componentsBackgroundImageColor;
    border-radius: $componentBorderRadius;

    position: relative;
  }

  app-info {
    width: 100%;
    height: 25%;
    padding: 3px 9px;

    background-color: white;
    // background-image: linear-gradient(
    //   to right bottom,
    //   #d4d4d4,
    //   #c6c6c6,
    //   #b9b9b9,
    //   #acacac,
    //   #9f9f9f
    // );
    border-radius: $componentBorderRadius;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  app-forecast {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
  }

  app-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20%;
    background-color: rgba(137, 59, 179, 0.922);

    border-top-right-radius: $menuBorderRadius;
    border-bottom-right-radius: $menuBorderRadius;
  }
}
