:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32px;
}

p {
  font-size: 0.8rem;
  color: #c5c5c5;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .windStatus, .uvIndex, .sunriseSunset {
    height: 100%;
    width: 100%;
    padding: 18px 0;
    justify-content: space-between;
    border-bottom: 1px white solid;
    margin-bottom: 18px;
  }

  .humidity, .visibility, .feelsLike {
    height: 4rem;
    width: 100%;
  }
}

.windStatus {
  width: 100%;

 div {
   display: flex;
   align-items: center;
   justify-content: center;

   span {
     display: flex;
     align-items: center;
     justify-content: center;
   }
 }

  .compass {
    flex-direction: column;
    gap: 4px;

    .mat-icon {
      margin: 4px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
    }
  }
}

.humidity {

}
