<h1>Todays Highlights</h1>

<content>
    <main>
        <div class="windStatus flex flexColumn">
            <p>Wind Status</p>
            <p>Graph D:</p>
            <div>
                <span>8<p>km/h</p></span>
                <p>5:01 am</p>
            </div>
        </div>

        <div class="humidity flex flexColumn">
            <p>Humidity</p>
            <div class="flex">
                <span class="flex">84<p>%</p></span>
                <div class="flex">
                    <img src="#" alt="#">
                    <p>The dew point is 27o right now</p>
                </div>
            </div>
        </div>
    </main>

    <main>
        <div class="uvIndex flex flexColumn">
            <p>UV Index</p>
            <p>Graph D:</p>
            <span>5.50<p>uv</p></span>
        </div>

        <div class="visibility flex flexColumn">
            <p>Visibility</p>
            <div class="flex">
                <span>03<p>km</p></span>
                <div class="flex">
                    <img src="#" alt="#">
                    <p>Haze is affecting visibility</p>
                </div>
            </div>
        </div>
    </main>

    <main>
        <div class="sunriseSunset flex flexColumn">
            <p>Sunrise & Sunset</p>
            <p>Graph D:</p>
        </div>

        <div class="feelsLike flex flexColumn">
            <p>Feels Like</p>
            <div class="flex">
                <div class="flex">
                    <img src="#" alt="#">
                    <p>42C</p>
                </div>
                <p>Humidity is making it feel hotter</p>
            </div>
        </div>
    </main>
</content>
