<h1>Todays Highlights</h1>

<content>
    <main>
        <div class="windStatus flex flexColumn">
            <p>Wind Status</p>
            <div class="compass">
                <p>N</p>
                <div>
                    <p>W</p>
                    <mat-icon [style.rotate]="windDirecDeg">navigation</mat-icon>
                    <p>O</p>
                </div>
                <p>S</p>
            </div>
            <span>{{ data.wind_kph }} <span>km/h</span></span>
        </div>

        <div class="humidity flex flexColumn">
            <p>Humidity</p>
            <div class="flex">
                <span class="flex">{{ data.humidity }}<p>%</p></span>
            </div>
        </div>
    </main>

    <main>
        <div class="uvIndex flex flexColumn">
            <p>UV Index</p>
            <p>Graph D:</p>
            <span>{{ data.uv }} <span>uv</span></span>
        </div>

        <div class="visibility flex flexColumn">
            <p>Total Precip</p>
            <span>{{ data.forecastday[0].day.totalprecip_mm }} <span>mm</span></span>
        </div>
    </main>

    <main>
        <div class="sunriseSunset flex flexColumn">
            <p>Sunrise & Sunset</p>
            <p>Graph D:</p>
        </div>

        <div class="feelsLike flex flexColumn">
            <p>Feels Like</p>
            <span>{{ data.feelslike_c }}&#176;C</span>
        </div>
    </main>
</content>
