<mat-drawer-container autosize *ngIf="userLoaded">
    <mat-drawer #drawer mode="side" [opened]="showSidenav">
        <button *ngIf="!showSidenav" class="closeBtn" mat-icon-button (click)="drawer.toggle()"><mat-icon>close</mat-icon></button>
        <h1>Weather</h1>
        <app-info-small
                *ngIf="geoLoaded && !geo.locationError"
                [location]="geo.coordinates"
        ></app-info-small>
        <div *ngIf="geo.locationError">{{ geo.locationErrorMessage }}</div>
        <br />
        <p><b>Saved cities</b></p>
        <app-save-city-form></app-save-city-form>
        <div class="savedCitiesList">
            <app-info-small
                    *ngFor="let city of user.User.savedcities"
                    [location]="city"
            ></app-info-small>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <mat-card class="topNavbar">
            <mat-card-content>
                <button *ngIf="!mobileMode" mat-icon-button class="toggleBTN" (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button class="logoutBTN" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
