:host {
	display: flex;
	width: 100%;
	height: 100%;
}

.mat-drawer-container {
	width: 100%;
}

.mat-drawer-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.mat-drawer {
	height: 100%;
	width: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 100px;

	.mat-drawer-inner-container {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.topNavbar {
	display: flex;
	width: 100%;

	.mat-mdc-card-content {
		display: flex;
		justify-content: space-between;
		padding: 0;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			span {
				margin: 0 12px;
				font-size: 24px;
			}
		}
	}
}

hr {
	width: 100%;
	border: unset;
}

input {
	width: 100%;
	border: unset;
	padding: 0;
}

.savedCitiesList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.closeBtn {
	position: absolute;
	top: 2px;
	right: 2px;
}

.routerOutlet {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1200px) {
	.mat-drawer {
		width: 100%;
	}
}

