<h1>Current Infos</h1>
<main>
    <img class="conditionIMG" src="https:{{ conditionIcon }}" [width]="132" [height]="132">
    <p class="temp">{{ temp }}&#176;</p>
    <div class="bottomContainer">
        <div>
            <img src="{{ imgIconCondition }}" [width]="24" [height]="24"> <p>{{ conditionText }}</p>
        </div>
        <hr>
        <div>
            <img ngSrc="../../../../../assets/images/locationPin.png" [width]="24" [height]="24"> <p>{{ locationName }}</p>
        </div>
        <div>
            <img ngSrc="../../../../../assets/images/date.png" [width]="24" [height]="24"> <p>{{ date }}</p>
        </div>
    </div>
</main>
