/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: GolosText;
	src: url(./assets/fonts/GolosText-Regular.ttf);
}

* {
	font-family: GolosText;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: rgb(40, 40, 40);
}

h4 {
	margin: 8px;
}

hr {
	margin-bottom: 8px;
}
