:host {
  width: 100%;
}

.locationOff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-mdc-card {
  border: 1px solid white;
  padding: 8px;
}

.mat-mdc-card-content:first-child {
  padding: 0;
}

.top {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
