:host {
  width: 100%;

  &:hover {
    cursor: pointer;

    .mat-mdc-card {
      border-color: #ffdf41;
    }
  }
}

.locationOff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-mdc-card {
  transition: border-color 180ms ease-in-out;
  border: 2px solid white;
  padding: 8px;
}

.mat-mdc-card-content:first-child {
  padding: 0;
}

.top {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
